<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<div id="box2">
  <% posts.forEach(function(post){ %>

  <!-- <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p> -->

  <div class="card2" style="align-self: center">
    <a href="/posts/<%=post._id%>" style="text-decoration: none">
      <div class="imgBx2">
        <h1 style="word-wrap: break-word; color: black; font-size: 200%">
          <%=post.title%>
        </h1>
      </div>

      <div class="details2">
        <p style="color: black">
          <%=post.content.substring(0, 100) + " ..."%>
          <label for="blog">by <%=post.name%></label>
        </p>
        <img
          src="data:image/<%=post.img.contentType%>;base64, 
           <%=post.img.data.toString('base64')%>"
          alt="uigggui"
        />
      </div>
    </a>
  </div>

  <% }) %>
</div>

<%- include("partials/footer"); -%>
